.DS_Store
node_modules
/dist
/bak
/directories
.vscode/
/docs/*
.yuquerc.js
yuque.config.json
pnpm-lock.yaml


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
